body{
	visibility: hidden;
	cursor: wait;
}

.listFilter-bl-input{
	white-space: nowrap;
}
.listFilter-bl-input input[type=text]{
	width: 100% !important;
}
.listFilter-bl-input::after{
	content:'▼';
   	color: #4f80bc;
   	position: relative;
   	right: 1.5rem;
   	padding-left: .2rem;
   	font-size: .8rem;
}
.listFilter-table{
	font-size: 1rem;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #b5b2b2;
	border-radius: 4px;
}
.listFilter-table td{
	padding: 0px;
}

.listFilter-table [id$=_other]{
	width: 70%;
}

.listFilter-table label{
	white-space: nowrap;
}

@media only screen and (max-device-width: 560px){
	.listFilter-table {
	    width: 90% !important;
	}
	.inner_table:not(.modified) table {
	    width: 90%!important;
	}
	.listFilter-bl-input input[type=text]{
		width: 88% !important;
	}
	.listFilter-table [id$=_other]{
		display: block;
	}
}