a.icon-hook {
	position: relative;
	display: block;
	margin: auto;
	padding-bottom: 50%;
	text-decoration: none;
	color: white;
	/*width: 150px;*/
	height: 100px;
  }
  
  a.icon-hook:visited {
	text-decoration: none;
	color: inherit;
  }
  
  a.icon-hook:active {
	text-decoration: none;
	color: inherit;
  }
  
  .icon-hook {
	position: relative;
  }
  
  .icon-hook:after {
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  .icon-hook > svg.star-icon {
	pointer-events: none;
  }
  svg.star-icon {
	position: absolute;
	z-index: 5;
  }
  
  /* Save Demo 2 */
  .star-dashes-2 {
	opacity: 0;
	-ms-transform-origin: center;
	-o-transform-origin: center;
	-moz-transform-origin: center;
	-webkit-transform-origin: center;
	transform-origin: center;

	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	-moz-transform: scale(.5);
	-webkit-transform: scale(.5);
	transform: scale(.5);
  }
  
  .active .star-dashes-2 {
	-ms-animation: dashes-2 2s forwards;
	-o-animation: dashes-2 2s forwards;
	-moz-animation: dashes-2 2s forwards;
	-webkit-animation: dashes-2 2s forwards;
	animation: dashes-2 2s forwards;
  }
  
  .active .main-star-2 {
	fill: url(#grad);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
  
  @-ms-keyframes dashes-2 {
	50% {
	  opacity: 1;
	  stroke: #f9f706;
	  -ms-transform: rotate(360deg);
	}
  }
  @-o-keyframes dashes-2 {
	50% {
	  opacity: 1;
	  stroke: #f9f706;
	  -o-transform: rotate(360deg);
	}
  }
  @-moz-keyframes dashes-2 {
	50% {
	  opacity: 1;
	  stroke: #f9f706;
	  -moz-transform: rotate(360deg);
	}
  }
  @-webkit-keyframes dashes-2 {
	50% {
	  opacity: 1;
	  stroke: #f9f706;
	  -webkit-transform: rotate(360deg);
	}
  }
  @keyframes dashes-2 {
	50% {
	  opacity: 1;
	  stroke: #f9f706;
	  transform: rotate(360deg);
	}
  }
  
  
  .starRating tr .clickable{
	  background: transparent;
  }
  .starRating .highlight, .starRating .highlight td {background-color: transparent !important;}
  
  .starRating .graphical_select{
	  display: none;
  }
  .starRating tr .clickable{
	  border: none !important;
  }
   
  div.question.starRating:not(.grid) .inner_table:not(.modified) tr:not(.clickable) {
	  display: table-row !important;
  }
  div.question.starRating:not(.grid) .inner_table:not(.modified) td:not(.input_cell) {
	  display: table-cell !important;
  }
  div.question.starRating:not(.grid) .inner_table:not(.modified) table{
	  display: table;
  }
  div.question.starRating:not(.grid) .inner_table:not(.modified) tbody{
	  display: table-row-group;
  }
  
  .starRating .inner_table:not(.modified) table {
	  width: 100%!important;
  }
  .starRating .input_cell{
	  display: none;
  }
  
  .starRating_none{
	background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
    width: 200px;
    display: inline-block;
    color: #717171;
    user-select: none;
    cursor: pointer;
	padding: 10px;
	font-style: normal;
	margin-left: calc(50% - 110px);
	text-align: center;
	font-size: 1rem;
}
.starRating_none:hover, .starRating_none.selected{
	background-color: #dadada;
	border: 1px solid #757575;
}